body{
  font-family: fantasy;
  background-image: url("images/plex.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
/*   body {
    background-image: url("images/plex2.jpg");
  } */
  @keyframes mymove0{
    0%   {left:-1000px; top:30px;}
    25%  {left:2000px; top:30px;}
    50%  {left:2000px; top:1200px;}
    75%  {left:-1000px; top:1200px;}
    100% {left:-1000px; top:30px;}
/*  0%   {left:350px; top:30px;}
    25%  {left:1300px; top:30px;}
    50%  {left:1300px; top:860px;}
    75%  {left:350px; top:860px;}
    100% {left:350px; top:30px;} */
  }
}

.zero{
  color: aliceblue;
  width: 30px;
  height: 30px;
  z-index: 2;
  background-color: aliceblue;
  border-radius: 100%;
  position: fixed;
  left: 30px;
  top: 30px;
  box-shadow:5px 10px 10px 20px white;
  animation: mymove0 5s infinite;
}

@media only screen and (min-width: 601px)
{
  @keyframes mymove0{
    /* 0%   {left:350px; top:30px;}
    25%  {left:1300px; top:30px;}
    50%  {left:1300px; top:860px;}
    75%  {left:350px; top:860px;}
    100% {left:350px; top:30px;} */
    0%   {left:-1000px; top:20px;}
    25%  {left:2000px; top:20px;}
    50%  {left:2000px; top:860px;}
    75%  {left:-1000px; top:860px;}
    100% {left:-1000px; top:30px;}
  }
}


.counter{
  position: relative;
  z-index: 2;
  top: 100px;
}
.box1{
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -2;
  width: 100%;
  height: 100%;
}

@media (max-width:900px)
{
  .box1{
    width: 1800px;
    height: 2200px;
  }
}

.one{
   background-color: black;
   height: 100px;
   width: 500px;
   padding: 10px;
   font-size: 15px;
   position: relative;
   top: 90px;
   z-index: 1;
   animation: mymove 5s infinite;
   

}
@keyframes mymove {
  50% {box-shadow: 10px 5px 20px 20px white;}
}

.text1{
  color: white;
}

.two{
  background-color: white;
  width: 600px;
  position: relative;
  top: 60px;
  padding: 50px;
  border-radius: 0;
  box-shadow: 0px 5px 20px 20px white;
}

#criteria{
  border: solid grey;
  border-style: hidden;
  border-bottom: 1px solid black;
  margin: 5px;
  height: 30px;
}

#classes{
  border: solid grey;
  border-style: hidden;
  border-bottom: 1px solid black;
  margin: 5px;
  height: 30px;
}

#total{
  border: solid grey;
  border-style: hidden;
  border-bottom: 1px solid black;
  margin: 5px;
  height: 30px;
}

button{
  margin-top: 30px;
  height: 40px;
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 40px 0 20px 0;
  box-shadow: 5px 10px 20px black;
  
}

form{
  margin-top: 80px;
}

a{
  text-decoration: none;
  color: grey;
  animation: mymove2 5s infinite;
  font-size: 15px;;
}
@keyframes mymove2{
   50%{color: black;}
}

.text2{
  margin-top: 20px;
}
.text3{
  color: black;
}

h1{
  margin-top: 0px;
  margin-bottom: 0px;
}
h2{
  margin-top: 0px;
  margin-bottom: 0px;
}
.font{
  margin-top: 0px;
  font-family: sans-serif;
  color: grey;
}
