body{
  font-family: fantasy;
}

.counter{
  position: relative;
  z-index: 2;
  top: 100px;
}
.box1{
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 0;
  width: 1800px;
  height: 2200px;
  /* width: 1700px;
  height: 1000px; */


}

@media (max-width:900px)
{
  .box1{
    width: 1800px;
    height: 2200px;
  }
}

.one{
   background-color: #42855B;
   width: 500px;
   padding: 10px;
   font-size: 15px;
   position: relative;
   top: 130px;
   z-index: 1

}

.text1{
  color: white;
}

.two{
  background-color: white;
  width: 600px;
  position: relative;
  top: 80px;
  padding: 50px;
  border-radius: 15%;

}
#criteria{
  border: solid grey;
  border-style: hidden;
  border-bottom: 1px solid black;
  margin: 5px;
  height: 30px;
}

#classes{
  border: solid grey;
  border-style: hidden;
  border-bottom: 1px solid black;
  margin: 5px;
  height: 30px;
}

#total{
  border: solid grey;
  border-style: hidden;
  border-bottom: 1px solid black;
  margin: 5px;
  height: 30px;
}

button{
  margin-top: 30px;
  height: 40px;
  width: 100px;
  background-color: #42855B;
  color: white;
  border-radius: 10px;
  margin: 40px 0 20px 0;
}

form{
  margin-top: 80px;
}

a{
  text-decoration: none;
  color: #42855B;
}

.text2{
  margin-top: 20px;
}
.text3{
  color: #42855B;
}

h1{
  margin-top: 0px;
  margin-bottom: 0px;
}
h2{
  margin-top: 0px;
  margin-bottom: 0px;
}
.font{
  margin-top: 0px;
  font-family: sans-serif;
}
